<!DOCTYPE html>
<html>
<head>
  <title>PDF Template Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
  .container {
    max-width: 80%;
    margin: 2cm auto;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  .pizza-container {
    background-image: url(https://image.flaticon.com/icons/svg/198/198479.svg);
    background-repeat: repeat;
    width:100%;
    height:300px;
  }
  </style>
</head>
<body>
  <div class="pizza-container"></div>
  <div class="container">
    {% if data.data.invoice_number %}
    <h3>Invoice number: {{ data.data.invoice_number }}</h3>
    {% endif %}
    <h3>Order received at: {{ data.data.ordered_at }}</h3>
    <h3>Order volume until next free pizza:
      <progress value="{{ data.data.progress }}" max="100"></progress>
    </h3>
    <h3>
      Order address:<br/>
      {{ data.data.name }}<br/>
      {{ data.data.street }}<br/>
      {{ data.data.city }}
    </h3>
    <table>
      <caption>Order summary</caption>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price/Piece</th>
        <th>Subtotal</th>
      </tr>
      {% for ingredient in data.data.ingredients %}
      <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.price }}</td>
        <td>{{ ingredient.amount * ingredient.price }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
